@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 157vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
  width: 420px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ff7a7a;
  padding: 4rem 1.8rem 0rem;
}

main img {
  position: absolute;
  height: 100%;
}

.sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 2.5rem;
}

.sec-title h1 {
  padding-bottom: 0.9rem;
  font-size: 1.8rem;
}

.sec-title p {
  font-size: large;
}

.sec-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 5.5rem;
  color: white;
  background-color: #6055a5;
  border-radius: 0.6rem;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sec-price p {
  word-wrap: normal;
  width: 65%;
}

.sec-inf {
  background-color: white;
  width: 100%;
  height: 25rem;
  border-radius: 0.6rem;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 3.5rem;
}

.sec-inf .sec-inf-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  padding: 0.5rem 1.6rem;
}

.sec-inf .sec-inf-conteudo input,
.sec-inf .sec-inf-conteudo button {
  height: 2.9rem;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.sec-inf .sec-inf-conteudo input {
  padding-left: 1rem;
}

.sec-inf .sec-inf-conteudo input ::-webkit-input-placeholder {
  color: black;
}

.sec-inf .sec-inf-conteudo input :-ms-input-placeholder {
  color: black;
}

.sec-inf .sec-inf-conteudo input ::-ms-input-placeholder {
  color: black;
}

.sec-inf .sec-inf-conteudo input ::placeholder {
  color: black;
}

.sec-inf .sec-inf-conteudo button {
  background-color: #38cc8c;
  border: none;
  border-radius: 0.2rem;
  text-transform: uppercase;
  color: white;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px rgba(8, 143, 85, 0.75);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(8, 143, 85, 0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(8, 143, 85, 0.75);
}

.sec-inf .sec-inf-conteudo p {
  color: #b9b6d3;
  font-size: 0.7rem;
  text-align: center;
  padding: 0rem 2rem;
}

.sec-inf .sec-inf-conteudo p strong {
  color: rgba(255, 0, 0, 0.911);
}

@media (min-width: 850px) {
  body {
    height: 100vh;
  }
  main {
    width: 100vw;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sec-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 46%;
  }
  .sec-title h1 {
    font-size: 2rem;
  }
  .sec-title p {
    font-size: large;
  }
  .price-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-inf .sec-price {
    width: 100%;
    height: 3.3rem;
  }
  .price-inf .sec-price p {
    word-wrap: normal;
    width: 100%;
  }
  .price-inf .sec-inf {
    padding-bottom: 10px;
    height: 20rem;
  }
  .price-inf .sec-inf .sec-inf-conteudo {
    margin-top: 0.3rem;
    height: 100%;
  }
  .price-inf .sec-inf .sec-inf-conteudo input,
  .price-inf .sec-inf .sec-inf-conteudo button {
    height: 2.4rem;
  }
}
/*# sourceMappingURL=mobile.css.map */